
:root {
  --primary-color: #01599c;
  --secondary-color: #fff;
  --background-color: #f7f7f7;
  --text-color: #333;
}

/* Fonts */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* WeatherForecast Styles */
.forecast-item {
 
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 5px;
}
.forecast-item div {
  
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-color);
}

.forecast-item div:first-child {

  font-weight: bold;
}

.forecast-item div:nth-child(2) {

  color: #777;
}

.forecast-item div:nth-child(3) {
  
  font-size: 24px;
  font-weight: bold;
}

/* WeatherMap Styles */
.map-container {
  
  position: relative;
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.loading-indicator {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.leaflet-control-container .leaflet-top.leaflet-left {

  top: 10px;
  left: 10px;
}

.leaflet-control-container .leaflet-control-zoom {

  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: var(--primary-color);
}

.leaflet-control-container .leaflet-control-zoom-in {
  margin-bottom: 1px;
}

.leaflet-control-container .leaflet-control-zoom-out {
  margin-top: 1px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #747bff;
  }
  
  .button {
    background-color: #f9f9f9;
    color: #000000;
  }
}