@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #01599c;
  --secondary-color: #fff;
  --background-color: #f0f0f0;
  --text-color: #333;
}

/* Fonts */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}



.forecast-item {
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 10px;
}

.forecast-item > div {
  font-size: 16px;
  font-weight: bold;
}

.forecast-item div:first-child {

  font-weight: bold;
}

.forecast-item div:nth-child(2) {

  color: #777;
}

.forecast-item div:nth-child(3) {
  
  font-size: 24px;
  font-weight: bold;
}


.map-container {
  
  position: fixed;
  top: 50px;
  right: 10px;
  height: 39%;
  width: 21%;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 5px solid #99a6bb;
}

.loading-indicator {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #747bff;
  }
  
  .button {
    background-color: #f9f9f9;
    color: #000000;
  }
}